{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/step-wizard.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}


    <div class="wrapper">
        <div class="gambo-Breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">User Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-group">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="user-dt">
                            <div class="user-img">
                                <img src="{% static 'images/avatar/img-5.jpg' %}" alt="">
                                <div class="img-add">
                                    <input type="file" id="file">
                                    <label for="file"><i class="uil uil-camera-plus"></i></label>
                                </div>
                            </div>
                            <h4>Johe Doe</h4>
                            <p>+91999999999<a href="#"><i class="uil uil-edit"></i></a></p>
                            <div class="earn-points"><img src="{% static 'images/Dollar.svg' %}" alt="">Points : <span>20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="left-side-tabs">
                            <div class="dashboard-left-links">
                                <a href="{% url 'My_profile' %}" class="user-item "><i class="uil uil-user"></i>My
                                    Profile</a>
                                <a href="{% url 'My_orders' %}" class="user-item"><i class="uil uil-box"></i>My
                                    Orders</a>
                                <a href="{% url 'My_wishlist' %}" class="user-item"><i class="uil uil-heart"></i>My
                                    Wishlist</a>
                                <a href="{% url 'My_addresses' %}" class="user-item active"><i class="uil uil-location-point"></i>My
                                    Address</a>
                                <a href="{% url 'Changepass_page' %}" class="user-item"><i class="uil uil-lock"></i>Change
                                    Password</a>
                                <a href="{% url 'Signout' %}" class="user-item"><i class="uil uil-exit"></i>Signout</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="dashboard-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-title-tab">
                                        <h4><i class="uil uil-location-point"></i>My Address</h4>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="pdpt-bg">
                                        <div class="pdpt-title">
                                            <h4>My Address</h4>
                                        </div>
                                        <form action="{% url 'Add_address' %}" method="post">
                                            {% csrf_token %}
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group mt-4">
                                                    <label class="control-label">Home Address :</label>
                                                    <input id="homeaddress" name="home_address" type="text"
                                                        placeholder="Enter Your Home Address"
                                                        class="form-control input-md" required="">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group mt-4">
                                                    <label class="control-label">Office Address :</label>
                                                    <input id="officeaddress" name="office_address" type="text" 
                                                        placeholder="Enter Your Office Address"
                                                        class="form-control input-md" required="">
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group mt-4">
                                                    <label class="control-label">Other Address :</label>
                                                    <input id="otherAddress" name="other_Address" type="text"
                                                        placeholder="Enter Your Another Address" class="form-control input-md"
                                                        required="">
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group mt-30">
                                                    <div class="address-btns">
                                                    </div>
                                                    <center>
                                                        <button type="submit" class="add-address hover-btn">Save</button>
                                                    </center>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- <div class="address-body">
                                            
                                            <div class="address-item">
                                                <div class="address-icon1">
                                                    <i class="uil uil-map-marker"></i>
                                                </div>
                                                <div class="address-dt-all">
                                                    <h4>Home</h4>
                                                    <p>#0000, St No. 8, Shahid Karnail Singh Nagar, MBD Mall, Frozpur
                                                        road, Ludhiana, 141001</p>
                                                    <ul class="action-btns">
                                                        <li><a href="#" class="action-btn"><i
                                                                    class="uil uil-edit"></i></a></li>
                                                        <li><a href="#" class="action-btn"><i
                                                                    class="uil uil-trash-alt"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="address-item">
                                                <div class="address-icon1">
                                                    <i class="uil uil-map-marker"></i>
                                                </div>
                                                <div class="address-dt-all">
                                                    <h4>Office</h4>
                                                    <p>#0000, St No. 8, Shahid Karnail Singh Nagar, MBD Mall, Frozpur
                                                        road, Ludhiana, 141001</p>
                                                    <ul class="action-btns">
                                                        <li><a href="#" class="action-btn"><i
                                                                    class="uil uil-edit"></i></a></li>
                                                        <li><a href="#" class="action-btn"><i
                                                                    class="uil uil-trash-alt"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="address-item">
                                                <div class="address-icon1">
                                                    <i class="uil uil-map-marker"></i>
                                                </div>
                                                <div class="address-dt-all">
                                                    <h4>Other</h4>
                                                    <p>#0000, St No. 8, Shahid Karnail Singh Nagar, MBD Mall, Frozpur
                                                        road, Ludhiana, 141001</p>
                                                    <ul class="action-btns">
                                                        <li><a href="#" class="action-btn"><i
                                                                    class="uil uil-edit"></i></a></li>
                                                        <li><a href="#" class="action-btn"><i
                                                                    class="uil uil-trash-alt"></i></a></li>
                                                    </ul>
                                                    <a href="#" class="add-address hover-btn" data-bs-toggle="modal"
                                                    data-bs-target="#address_model">Add New Address</a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/product.thumbnail.slider.js' %}"></script>
{% endblock %}
